/* Scss for Theme */

.brasil-theme-tile {
	#content-core h1 {
		text-align: center;
	}
	.image-right {
		margin-right: 10vw;
	}
	.image-left {
		margin-left: 10vw;
	}
	.image-inline {
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		dd {
			max-width: 100%;
		}
		img {
			max-width: 100%;
			height: auto;
		}
	}
	.linha-destaquetopo {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 20px;
		border-bottom: 1px solid #d8d8d8;
	}
	#parent-fieldname-theme_top_image img {
		width: 100%;
		object-fit: cover;
		position: absolute!important;
		top: 0;
		left: 0;
		z-index: -2;
	}
	#parent-fieldname-theme_top_image:before {
		background-color: transparent;
		content: " ";
		white-space: nowrap;
		display: block;
		height: 210px;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		opacity: .8;
		z-index: -1;
		text-indent: -3000px;
	}
}

/* Inverter theme for top white */
	header.inverter-white {
		background-color: transparent !important;
		margin-bottom: 0 !important;
		.link-contraste:before {
			background-position: -227px -54px;
		}
		.link-vlibras:before {
			background-position: -227px -69px;
		}
	}

	#portal-title.inverter-white {
		color: #fff;
	}

	.links-destaque.inverter-white a{
		color: #fff !important;
	}

	a.link-contraste.inverter-white, a.link-vlibras.inverter-white{
  	color:#fff !important;

 }

#portal-breadcrumbs.inverter-white {
		border-bottom: 1px solid hsla(0,0%,100%,.2);
		color: #fff;
		margin-bottom: 0;
		a, .breadcrumbSeparator {
			color: #fff !important;
		}
		#breadcrumbs-home a:before {
			background-position: -125px -173px;
		}
	}
