@import 'scss/sprite';

/* Pages */
@import 'scss/pages/library';
@import 'scss/pages/latest_news';

/* Tiles */
@import 'scss/tiles/tiles';
@import 'scss/tiles/carousel_mdh';
@import 'scss/tiles/theme_mdh';
@import 'scss/tiles/navigation_mdh';
@import 'scss/tiles/composicao_mdh';
@import 'scss/tiles/carousel_videos_mdh';


/* General */
#content .tile-content a.outstanding-link:hover{
	background:#ff6d26 !important;
	border-color:#ff6d26 !important;
}

.portaltype-collective-cover-content.template-view 
	div.row.linha-destaquetopo {
		img {top: -265px !important;}
}

.portaltype-collective-cover-content 
div.row.linha-discreta .tile h1,
.portaltype-collective-cover-content 
div.row.linha-discreta .tile h2,
.portaltype-collective-cover-content div.row.linha-discreta .tile h3{
	color: #333 !important;
}