// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$agenda-location-name: 'agenda-location';
$agenda-location-x: 232px;
$agenda-location-y: 109px;
$agenda-location-offset-x: -232px;
$agenda-location-offset-y: -109px;
$agenda-location-width: 8px;
$agenda-location-height: 12px;
$agenda-location-total-width: 246px;
$agenda-location-total-height: 243px;
$agenda-location-image: './img/sprite.png';
$agenda-location: (232px, 109px, -232px, -109px, 8px, 12px, 246px, 243px, './img/sprite.png', 'agenda-location', );
$agenda-timestamp-name: 'agenda-timestamp';
$agenda-timestamp-x: 232px;
$agenda-timestamp-y: 97px;
$agenda-timestamp-offset-x: -232px;
$agenda-timestamp-offset-y: -97px;
$agenda-timestamp-width: 12px;
$agenda-timestamp-height: 12px;
$agenda-timestamp-total-width: 246px;
$agenda-timestamp-total-height: 243px;
$agenda-timestamp-image: './img/sprite.png';
$agenda-timestamp: (232px, 97px, -232px, -97px, 12px, 12px, 246px, 243px, './img/sprite.png', 'agenda-timestamp', );
$ai-name: 'ai';
$ai-x: 0px;
$ai-y: 55px;
$ai-offset-x: 0px;
$ai-offset-y: -55px;
$ai-width: 98px;
$ai-height: 55px;
$ai-total-width: 246px;
$ai-total-height: 243px;
$ai-image: './img/sprite.png';
$ai: (0px, 55px, 0px, -55px, 98px, 55px, 246px, 243px, './img/sprite.png', 'ai', );
$botao-busca-black-name: 'botao-busca-black';
$botao-busca-black-x: 135px;
$botao-busca-black-y: 202px;
$botao-busca-black-offset-x: -135px;
$botao-busca-black-offset-y: -202px;
$botao-busca-black-width: 24px;
$botao-busca-black-height: 22px;
$botao-busca-black-total-width: 246px;
$botao-busca-black-total-height: 243px;
$botao-busca-black-image: './img/sprite.png';
$botao-busca-black: (135px, 202px, -135px, -202px, 24px, 22px, 246px, 243px, './img/sprite.png', 'botao-busca-black', );
$botao-busca-name: 'botao-busca';
$botao-busca-x: 159px;
$botao-busca-y: 202px;
$botao-busca-offset-x: -159px;
$botao-busca-offset-y: -202px;
$botao-busca-width: 24px;
$botao-busca-height: 22px;
$botao-busca-total-width: 246px;
$botao-busca-total-height: 243px;
$botao-busca-image: './img/sprite.png';
$botao-busca: (159px, 202px, -159px, -202px, 24px, 22px, 246px, 243px, './img/sprite.png', 'botao-busca', );
$botao-com-icone-name: 'botao-com-icone';
$botao-com-icone-x: 232px;
$botao-com-icone-y: 121px;
$botao-com-icone-offset-x: -232px;
$botao-com-icone-offset-y: -121px;
$botao-com-icone-width: 9px;
$botao-com-icone-height: 10px;
$botao-com-icone-total-width: 246px;
$botao-com-icone-total-height: 243px;
$botao-com-icone-image: './img/sprite.png';
$botao-com-icone: (232px, 121px, -232px, -121px, 9px, 10px, 246px, 243px, './img/sprite.png', 'botao-com-icone', );
$busca-escuro-name: 'busca-escuro';
$busca-escuro-x: 116px;
$busca-escuro-y: 145px;
$busca-escuro-offset-x: -116px;
$busca-escuro-offset-y: -145px;
$busca-escuro-width: 26px;
$busca-escuro-height: 25px;
$busca-escuro-total-width: 246px;
$busca-escuro-total-height: 243px;
$busca-escuro-image: './img/sprite.png';
$busca-escuro: (116px, 145px, -116px, -145px, 26px, 25px, 246px, 243px, './img/sprite.png', 'busca-escuro', );
$busca-name: 'busca';
$busca-x: 142px;
$busca-y: 145px;
$busca-offset-x: -142px;
$busca-offset-y: -145px;
$busca-width: 26px;
$busca-height: 25px;
$busca-total-width: 246px;
$busca-total-height: 243px;
$busca-image: './img/sprite.png';
$busca: (142px, 145px, -142px, -145px, 26px, 25px, 246px, 243px, './img/sprite.png', 'busca', );
$casinha-branca-name: 'casinha-branca';
$casinha-branca-x: 0px;
$casinha-branca-y: 231px;
$casinha-branca-offset-x: 0px;
$casinha-branca-offset-y: -231px;
$casinha-branca-width: 17px;
$casinha-branca-height: 12px;
$casinha-branca-total-width: 246px;
$casinha-branca-total-height: 243px;
$casinha-branca-image: './img/sprite.png';
$casinha-branca: (0px, 231px, 0px, -231px, 17px, 12px, 246px, 243px, './img/sprite.png', 'casinha-branca', );
$casinha-name: 'casinha';
$casinha-x: 203px;
$casinha-y: 202px;
$casinha-offset-x: -203px;
$casinha-offset-y: -202px;
$casinha-width: 17px;
$casinha-height: 12px;
$casinha-total-width: 246px;
$casinha-total-height: 243px;
$casinha-image: './img/sprite.png';
$casinha: (203px, 202px, -203px, -202px, 17px, 12px, 246px, 243px, './img/sprite.png', 'casinha', );
$contraste-escuro-name: 'contraste-escuro';
$contraste-escuro-x: 232px;
$contraste-escuro-y: 39px;
$contraste-escuro-offset-x: -232px;
$contraste-escuro-offset-y: -39px;
$contraste-escuro-width: 14px;
$contraste-escuro-height: 15px;
$contraste-escuro-total-width: 246px;
$contraste-escuro-total-height: 243px;
$contraste-escuro-image: './img/sprite.png';
$contraste-escuro: (232px, 39px, -232px, -39px, 14px, 15px, 246px, 243px, './img/sprite.png', 'contraste-escuro', );
$contraste-name: 'contraste';
$contraste-x: 232px;
$contraste-y: 54px;
$contraste-offset-x: -232px;
$contraste-offset-y: -54px;
$contraste-width: 14px;
$contraste-height: 15px;
$contraste-total-width: 246px;
$contraste-total-height: 243px;
$contraste-image: './img/sprite.png';
$contraste: (232px, 54px, -232px, -54px, 14px, 15px, 246px, 243px, './img/sprite.png', 'contraste', );
$gg-name: 'gg';
$gg-x: 0px;
$gg-y: 0px;
$gg-offset-x: 0px;
$gg-offset-y: 0px;
$gg-width: 134px;
$gg-height: 55px;
$gg-total-width: 246px;
$gg-total-height: 243px;
$gg-image: './img/sprite.png';
$gg: (0px, 0px, 0px, 0px, 134px, 55px, 246px, 243px, './img/sprite.png', 'gg', );
$ico-audio-name: 'ico-audio';
$ico-audio-x: 134px;
$ico-audio-y: 0px;
$ico-audio-offset-x: -134px;
$ico-audio-offset-y: 0px;
$ico-audio-width: 40px;
$ico-audio-height: 40px;
$ico-audio-total-width: 246px;
$ico-audio-total-height: 243px;
$ico-audio-image: './img/sprite.png';
$ico-audio: (134px, 0px, -134px, 0px, 40px, 40px, 246px, 243px, './img/sprite.png', 'ico-audio', );
$ico-filtrar-fechado-name: 'ico-filtrar-fechado';
$ico-filtrar-fechado-x: 183px;
$ico-filtrar-fechado-y: 202px;
$ico-filtrar-fechado-offset-x: -183px;
$ico-filtrar-fechado-offset-y: -202px;
$ico-filtrar-fechado-width: 20px;
$ico-filtrar-fechado-height: 20px;
$ico-filtrar-fechado-total-width: 246px;
$ico-filtrar-fechado-total-height: 243px;
$ico-filtrar-fechado-image: './img/sprite.png';
$ico-filtrar-fechado: (183px, 202px, -183px, -202px, 20px, 20px, 246px, 243px, './img/sprite.png', 'ico-filtrar-fechado', );
$ico-filtrar-name: 'ico-filtrar';
$ico-filtrar-x: 98px;
$ico-filtrar-y: 90px;
$ico-filtrar-offset-x: -98px;
$ico-filtrar-offset-y: -90px;
$ico-filtrar-width: 20px;
$ico-filtrar-height: 20px;
$ico-filtrar-total-width: 246px;
$ico-filtrar-total-height: 243px;
$ico-filtrar-image: './img/sprite.png';
$ico-filtrar: (98px, 90px, -98px, -90px, 20px, 20px, 246px, 243px, './img/sprite.png', 'ico-filtrar', );
$icon-horarios-name: 'icon-horarios';
$icon-horarios-x: 232px;
$icon-horarios-y: 0px;
$icon-horarios-offset-x: -232px;
$icon-horarios-offset-y: 0px;
$icon-horarios-width: 14px;
$icon-horarios-height: 39px;
$icon-horarios-total-width: 246px;
$icon-horarios-total-height: 243px;
$icon-horarios-image: './img/sprite.png';
$icon-horarios: (232px, 0px, -232px, 0px, 14px, 39px, 246px, 243px, './img/sprite.png', 'icon-horarios', );
$image-download-name: 'image-download';
$image-download-x: 58px;
$image-download-y: 202px;
$image-download-offset-x: -58px;
$image-download-offset-y: -202px;
$image-download-width: 27px;
$image-download-height: 29px;
$image-download-total-width: 246px;
$image-download-total-height: 243px;
$image-download-image: './img/sprite.png';
$image-download: (58px, 202px, -58px, -202px, 27px, 29px, 246px, 243px, './img/sprite.png', 'image-download', );
$image-zoom-name: 'image-zoom';
$image-zoom-x: 174px;
$image-zoom-y: 116px;
$image-zoom-offset-x: -174px;
$image-zoom-offset-y: -116px;
$image-zoom-width: 29px;
$image-zoom-height: 29px;
$image-zoom-total-width: 246px;
$image-zoom-total-height: 243px;
$image-zoom-image: './img/sprite.png';
$image-zoom: (174px, 116px, -174px, -116px, 29px, 29px, 246px, 243px, './img/sprite.png', 'image-zoom', );
$nav-claro-name: 'nav-claro';
$nav-claro-x: 88px;
$nav-claro-y: 145px;
$nav-claro-offset-x: -88px;
$nav-claro-offset-y: -145px;
$nav-claro-width: 28px;
$nav-claro-height: 25px;
$nav-claro-total-width: 246px;
$nav-claro-total-height: 243px;
$nav-claro-image: './img/sprite.png';
$nav-claro: (88px, 145px, -88px, -145px, 28px, 25px, 246px, 243px, './img/sprite.png', 'nav-claro', );
$nav-escuro-name: 'nav-escuro';
$nav-escuro-x: 60px;
$nav-escuro-y: 145px;
$nav-escuro-offset-x: -60px;
$nav-escuro-offset-y: -145px;
$nav-escuro-width: 28px;
$nav-escuro-height: 25px;
$nav-escuro-total-width: 246px;
$nav-escuro-total-height: 243px;
$nav-escuro-image: './img/sprite.png';
$nav-escuro: (60px, 145px, -60px, -145px, 28px, 25px, 246px, 243px, './img/sprite.png', 'nav-escuro', );
$nav-name: 'nav';
$nav-x: 32px;
$nav-y: 145px;
$nav-offset-x: -32px;
$nav-offset-y: -145px;
$nav-width: 28px;
$nav-height: 25px;
$nav-total-width: 246px;
$nav-total-height: 243px;
$nav-image: './img/sprite.png';
$nav: (32px, 145px, -32px, -145px, 28px, 25px, 246px, 243px, './img/sprite.png', 'nav', );
$rede-facebook-branco-name: 'rede-facebook-branco';
$rede-facebook-branco-x: 110px;
$rede-facebook-branco-y: 202px;
$rede-facebook-branco-offset-x: -110px;
$rede-facebook-branco-offset-y: -202px;
$rede-facebook-branco-width: 25px;
$rede-facebook-branco-height: 28px;
$rede-facebook-branco-total-width: 246px;
$rede-facebook-branco-total-height: 243px;
$rede-facebook-branco-image: './img/sprite.png';
$rede-facebook-branco: (110px, 202px, -110px, -202px, 25px, 28px, 246px, 243px, './img/sprite.png', 'rede-facebook-branco', );
$rede-facebook-topo-name: 'rede-facebook-topo';
$rede-facebook-topo-x: 85px;
$rede-facebook-topo-y: 202px;
$rede-facebook-topo-offset-x: -85px;
$rede-facebook-topo-offset-y: -202px;
$rede-facebook-topo-width: 25px;
$rede-facebook-topo-height: 28px;
$rede-facebook-topo-total-width: 246px;
$rede-facebook-topo-total-height: 243px;
$rede-facebook-topo-image: './img/sprite.png';
$rede-facebook-topo: (85px, 202px, -85px, -202px, 25px, 28px, 246px, 243px, './img/sprite.png', 'rede-facebook-topo', );
$rede-facebook-name: 'rede-facebook';
$rede-facebook-x: 35px;
$rede-facebook-y: 110px;
$rede-facebook-offset-x: -35px;
$rede-facebook-offset-y: -110px;
$rede-facebook-width: 35px;
$rede-facebook-height: 35px;
$rede-facebook-total-width: 246px;
$rede-facebook-total-height: 243px;
$rede-facebook-image: './img/sprite.png';
$rede-facebook: (35px, 110px, -35px, -110px, 35px, 35px, 246px, 243px, './img/sprite.png', 'rede-facebook', );
$rede-flickr-branco-name: 'rede-flickr-branco';
$rede-flickr-branco-x: 174px;
$rede-flickr-branco-y: 173px;
$rede-flickr-branco-offset-x: -174px;
$rede-flickr-branco-offset-y: -173px;
$rede-flickr-branco-width: 29px;
$rede-flickr-branco-height: 29px;
$rede-flickr-branco-total-width: 246px;
$rede-flickr-branco-total-height: 243px;
$rede-flickr-branco-image: './img/sprite.png';
$rede-flickr-branco: (174px, 173px, -174px, -173px, 29px, 29px, 246px, 243px, './img/sprite.png', 'rede-flickr-branco', );
$rede-flickr-topo-name: 'rede-flickr-topo';
$rede-flickr-topo-x: 203px;
$rede-flickr-topo-y: 0px;
$rede-flickr-topo-offset-x: -203px;
$rede-flickr-topo-offset-y: 0px;
$rede-flickr-topo-width: 29px;
$rede-flickr-topo-height: 29px;
$rede-flickr-topo-total-width: 246px;
$rede-flickr-topo-total-height: 243px;
$rede-flickr-topo-image: './img/sprite.png';
$rede-flickr-topo: (203px, 0px, -203px, 0px, 29px, 29px, 246px, 243px, './img/sprite.png', 'rede-flickr-topo', );
$rede-flickr-name: 'rede-flickr';
$rede-flickr-x: 134px;
$rede-flickr-y: 40px;
$rede-flickr-offset-x: -134px;
$rede-flickr-offset-y: -40px;
$rede-flickr-width: 35px;
$rede-flickr-height: 35px;
$rede-flickr-total-width: 246px;
$rede-flickr-total-height: 243px;
$rede-flickr-image: './img/sprite.png';
$rede-flickr: (134px, 40px, -134px, -40px, 35px, 35px, 246px, 243px, './img/sprite.png', 'rede-flickr', );
$rede-googleplus-branco-name: 'rede-googleplus-branco';
$rede-googleplus-branco-x: 174px;
$rede-googleplus-branco-y: 29px;
$rede-googleplus-branco-offset-x: -174px;
$rede-googleplus-branco-offset-y: -29px;
$rede-googleplus-branco-width: 29px;
$rede-googleplus-branco-height: 29px;
$rede-googleplus-branco-total-width: 246px;
$rede-googleplus-branco-total-height: 243px;
$rede-googleplus-branco-image: './img/sprite.png';
$rede-googleplus-branco: (174px, 29px, -174px, -29px, 29px, 29px, 246px, 243px, './img/sprite.png', 'rede-googleplus-branco', );
$rede-googleplus-topo-name: 'rede-googleplus-topo';
$rede-googleplus-topo-x: 203px;
$rede-googleplus-topo-y: 87px;
$rede-googleplus-topo-offset-x: -203px;
$rede-googleplus-topo-offset-y: -87px;
$rede-googleplus-topo-width: 29px;
$rede-googleplus-topo-height: 29px;
$rede-googleplus-topo-total-width: 246px;
$rede-googleplus-topo-total-height: 243px;
$rede-googleplus-topo-image: './img/sprite.png';
$rede-googleplus-topo: (203px, 87px, -203px, -87px, 29px, 29px, 246px, 243px, './img/sprite.png', 'rede-googleplus-topo', );
$rede-googleplus-name: 'rede-googleplus';
$rede-googleplus-x: 98px;
$rede-googleplus-y: 55px;
$rede-googleplus-offset-x: -98px;
$rede-googleplus-offset-y: -55px;
$rede-googleplus-width: 35px;
$rede-googleplus-height: 35px;
$rede-googleplus-total-width: 246px;
$rede-googleplus-total-height: 243px;
$rede-googleplus-image: './img/sprite.png';
$rede-googleplus: (98px, 55px, -98px, -55px, 35px, 35px, 246px, 243px, './img/sprite.png', 'rede-googleplus', );
$rede-instagram-branco-name: 'rede-instagram-branco';
$rede-instagram-branco-x: 203px;
$rede-instagram-branco-y: 145px;
$rede-instagram-branco-offset-x: -203px;
$rede-instagram-branco-offset-y: -145px;
$rede-instagram-branco-width: 29px;
$rede-instagram-branco-height: 29px;
$rede-instagram-branco-total-width: 246px;
$rede-instagram-branco-total-height: 243px;
$rede-instagram-branco-image: './img/sprite.png';
$rede-instagram-branco: (203px, 145px, -203px, -145px, 29px, 29px, 246px, 243px, './img/sprite.png', 'rede-instagram-branco', );
$rede-instagram-topo-name: 'rede-instagram-topo';
$rede-instagram-topo-x: 174px;
$rede-instagram-topo-y: 0px;
$rede-instagram-topo-offset-x: -174px;
$rede-instagram-topo-offset-y: 0px;
$rede-instagram-topo-width: 29px;
$rede-instagram-topo-height: 29px;
$rede-instagram-topo-total-width: 246px;
$rede-instagram-topo-total-height: 243px;
$rede-instagram-topo-image: './img/sprite.png';
$rede-instagram-topo: (174px, 0px, -174px, 0px, 29px, 29px, 246px, 243px, './img/sprite.png', 'rede-instagram-topo', );
$rede-instagram-name: 'rede-instagram';
$rede-instagram-x: 134px;
$rede-instagram-y: 75px;
$rede-instagram-offset-x: -134px;
$rede-instagram-offset-y: -75px;
$rede-instagram-width: 35px;
$rede-instagram-height: 35px;
$rede-instagram-total-width: 246px;
$rede-instagram-total-height: 243px;
$rede-instagram-image: './img/sprite.png';
$rede-instagram: (134px, 75px, -134px, -75px, 35px, 35px, 246px, 243px, './img/sprite.png', 'rede-instagram', );
$rede-linkedin-name: 'rede-linkedin';
$rede-linkedin-x: 29px;
$rede-linkedin-y: 202px;
$rede-linkedin-offset-x: -29px;
$rede-linkedin-offset-y: -202px;
$rede-linkedin-width: 29px;
$rede-linkedin-height: 29px;
$rede-linkedin-total-width: 246px;
$rede-linkedin-total-height: 243px;
$rede-linkedin-image: './img/sprite.png';
$rede-linkedin: (29px, 202px, -29px, -202px, 29px, 29px, 246px, 243px, './img/sprite.png', 'rede-linkedin', );
$rede-rss-branco-name: 'rede-rss-branco';
$rede-rss-branco-x: 0px;
$rede-rss-branco-y: 202px;
$rede-rss-branco-offset-x: 0px;
$rede-rss-branco-offset-y: -202px;
$rede-rss-branco-width: 29px;
$rede-rss-branco-height: 29px;
$rede-rss-branco-total-width: 246px;
$rede-rss-branco-total-height: 243px;
$rede-rss-branco-image: './img/sprite.png';
$rede-rss-branco: (0px, 202px, 0px, -202px, 29px, 29px, 246px, 243px, './img/sprite.png', 'rede-rss-branco', );
$rede-rss-topo-name: 'rede-rss-topo';
$rede-rss-topo-x: 203px;
$rede-rss-topo-y: 116px;
$rede-rss-topo-offset-x: -203px;
$rede-rss-topo-offset-y: -116px;
$rede-rss-topo-width: 29px;
$rede-rss-topo-height: 29px;
$rede-rss-topo-total-width: 246px;
$rede-rss-topo-total-height: 243px;
$rede-rss-topo-image: './img/sprite.png';
$rede-rss-topo: (203px, 116px, -203px, -116px, 29px, 29px, 246px, 243px, './img/sprite.png', 'rede-rss-topo', );
$rede-rss-name: 'rede-rss';
$rede-rss-x: 203px;
$rede-rss-y: 29px;
$rede-rss-offset-x: -203px;
$rede-rss-offset-y: -29px;
$rede-rss-width: 29px;
$rede-rss-height: 29px;
$rede-rss-total-width: 246px;
$rede-rss-total-height: 243px;
$rede-rss-image: './img/sprite.png';
$rede-rss: (203px, 29px, -203px, -29px, 29px, 29px, 246px, 243px, './img/sprite.png', 'rede-rss', );
$rede-slideshare-branco-name: 'rede-slideshare-branco';
$rede-slideshare-branco-x: 145px;
$rede-slideshare-branco-y: 173px;
$rede-slideshare-branco-offset-x: -145px;
$rede-slideshare-branco-offset-y: -173px;
$rede-slideshare-branco-width: 29px;
$rede-slideshare-branco-height: 29px;
$rede-slideshare-branco-total-width: 246px;
$rede-slideshare-branco-total-height: 243px;
$rede-slideshare-branco-image: './img/sprite.png';
$rede-slideshare-branco: (145px, 173px, -145px, -173px, 29px, 29px, 246px, 243px, './img/sprite.png', 'rede-slideshare-branco', );
$rede-slideshare-topo-name: 'rede-slideshare-topo';
$rede-slideshare-topo-x: 116px;
$rede-slideshare-topo-y: 173px;
$rede-slideshare-topo-offset-x: -116px;
$rede-slideshare-topo-offset-y: -173px;
$rede-slideshare-topo-width: 29px;
$rede-slideshare-topo-height: 29px;
$rede-slideshare-topo-total-width: 246px;
$rede-slideshare-topo-total-height: 243px;
$rede-slideshare-topo-image: './img/sprite.png';
$rede-slideshare-topo: (116px, 173px, -116px, -173px, 29px, 29px, 246px, 243px, './img/sprite.png', 'rede-slideshare-topo', );
$rede-slideshare-name: 'rede-slideshare';
$rede-slideshare-x: 87px;
$rede-slideshare-y: 173px;
$rede-slideshare-offset-x: -87px;
$rede-slideshare-offset-y: -173px;
$rede-slideshare-width: 29px;
$rede-slideshare-height: 29px;
$rede-slideshare-total-width: 246px;
$rede-slideshare-total-height: 243px;
$rede-slideshare-image: './img/sprite.png';
$rede-slideshare: (87px, 173px, -87px, -173px, 29px, 29px, 246px, 243px, './img/sprite.png', 'rede-slideshare', );
$rede-soundcloud-branco-name: 'rede-soundcloud-branco';
$rede-soundcloud-branco-x: 58px;
$rede-soundcloud-branco-y: 173px;
$rede-soundcloud-branco-offset-x: -58px;
$rede-soundcloud-branco-offset-y: -173px;
$rede-soundcloud-branco-width: 29px;
$rede-soundcloud-branco-height: 29px;
$rede-soundcloud-branco-total-width: 246px;
$rede-soundcloud-branco-total-height: 243px;
$rede-soundcloud-branco-image: './img/sprite.png';
$rede-soundcloud-branco: (58px, 173px, -58px, -173px, 29px, 29px, 246px, 243px, './img/sprite.png', 'rede-soundcloud-branco', );
$rede-soundcloud-topo-name: 'rede-soundcloud-topo';
$rede-soundcloud-topo-x: 29px;
$rede-soundcloud-topo-y: 173px;
$rede-soundcloud-topo-offset-x: -29px;
$rede-soundcloud-topo-offset-y: -173px;
$rede-soundcloud-topo-width: 29px;
$rede-soundcloud-topo-height: 29px;
$rede-soundcloud-topo-total-width: 246px;
$rede-soundcloud-topo-total-height: 243px;
$rede-soundcloud-topo-image: './img/sprite.png';
$rede-soundcloud-topo: (29px, 173px, -29px, -173px, 29px, 29px, 246px, 243px, './img/sprite.png', 'rede-soundcloud-topo', );
$rede-soundcloud-name: 'rede-soundcloud';
$rede-soundcloud-x: 105px;
$rede-soundcloud-y: 110px;
$rede-soundcloud-offset-x: -105px;
$rede-soundcloud-offset-y: -110px;
$rede-soundcloud-width: 35px;
$rede-soundcloud-height: 35px;
$rede-soundcloud-total-width: 246px;
$rede-soundcloud-total-height: 243px;
$rede-soundcloud-image: './img/sprite.png';
$rede-soundcloud: (105px, 110px, -105px, -110px, 35px, 35px, 246px, 243px, './img/sprite.png', 'rede-soundcloud', );
$rede-tumblr-branco-name: 'rede-tumblr-branco';
$rede-tumblr-branco-x: 0px;
$rede-tumblr-branco-y: 173px;
$rede-tumblr-branco-offset-x: 0px;
$rede-tumblr-branco-offset-y: -173px;
$rede-tumblr-branco-width: 29px;
$rede-tumblr-branco-height: 29px;
$rede-tumblr-branco-total-width: 246px;
$rede-tumblr-branco-total-height: 243px;
$rede-tumblr-branco-image: './img/sprite.png';
$rede-tumblr-branco: (0px, 173px, 0px, -173px, 29px, 29px, 246px, 243px, './img/sprite.png', 'rede-tumblr-branco', );
$rede-tumblr-topo-name: 'rede-tumblr-topo';
$rede-tumblr-topo-x: 174px;
$rede-tumblr-topo-y: 87px;
$rede-tumblr-topo-offset-x: -174px;
$rede-tumblr-topo-offset-y: -87px;
$rede-tumblr-topo-width: 29px;
$rede-tumblr-topo-height: 29px;
$rede-tumblr-topo-total-width: 246px;
$rede-tumblr-topo-total-height: 243px;
$rede-tumblr-topo-image: './img/sprite.png';
$rede-tumblr-topo: (174px, 87px, -174px, -87px, 29px, 29px, 246px, 243px, './img/sprite.png', 'rede-tumblr-topo', );
$rede-tumblr-name: 'rede-tumblr';
$rede-tumblr-x: 174px;
$rede-tumblr-y: 58px;
$rede-tumblr-offset-x: -174px;
$rede-tumblr-offset-y: -58px;
$rede-tumblr-width: 29px;
$rede-tumblr-height: 29px;
$rede-tumblr-total-width: 246px;
$rede-tumblr-total-height: 243px;
$rede-tumblr-image: './img/sprite.png';
$rede-tumblr: (174px, 58px, -174px, -58px, 29px, 29px, 246px, 243px, './img/sprite.png', 'rede-tumblr', );
$rede-twitter-branco-name: 'rede-twitter-branco';
$rede-twitter-branco-x: 174px;
$rede-twitter-branco-y: 145px;
$rede-twitter-branco-offset-x: -174px;
$rede-twitter-branco-offset-y: -145px;
$rede-twitter-branco-width: 27px;
$rede-twitter-branco-height: 28px;
$rede-twitter-branco-total-width: 246px;
$rede-twitter-branco-total-height: 243px;
$rede-twitter-branco-image: './img/sprite.png';
$rede-twitter-branco: (174px, 145px, -174px, -145px, 27px, 28px, 246px, 243px, './img/sprite.png', 'rede-twitter-branco', );
$rede-twitter-topo-name: 'rede-twitter-topo';
$rede-twitter-topo-x: 203px;
$rede-twitter-topo-y: 174px;
$rede-twitter-topo-offset-x: -203px;
$rede-twitter-topo-offset-y: -174px;
$rede-twitter-topo-width: 27px;
$rede-twitter-topo-height: 28px;
$rede-twitter-topo-total-width: 246px;
$rede-twitter-topo-total-height: 243px;
$rede-twitter-topo-image: './img/sprite.png';
$rede-twitter-topo: (203px, 174px, -203px, -174px, 27px, 28px, 246px, 243px, './img/sprite.png', 'rede-twitter-topo', );
$rede-twitter-name: 'rede-twitter';
$rede-twitter-x: 70px;
$rede-twitter-y: 110px;
$rede-twitter-offset-x: -70px;
$rede-twitter-offset-y: -110px;
$rede-twitter-width: 35px;
$rede-twitter-height: 35px;
$rede-twitter-total-width: 246px;
$rede-twitter-total-height: 243px;
$rede-twitter-image: './img/sprite.png';
$rede-twitter: (70px, 110px, -70px, -110px, 35px, 35px, 246px, 243px, './img/sprite.png', 'rede-twitter', );
$rede-youtube-branco-name: 'rede-youtube-branco';
$rede-youtube-branco-x: 0px;
$rede-youtube-branco-y: 145px;
$rede-youtube-branco-offset-x: 0px;
$rede-youtube-branco-offset-y: -145px;
$rede-youtube-branco-width: 32px;
$rede-youtube-branco-height: 28px;
$rede-youtube-branco-total-width: 246px;
$rede-youtube-branco-total-height: 243px;
$rede-youtube-branco-image: './img/sprite.png';
$rede-youtube-branco: (0px, 145px, 0px, -145px, 32px, 28px, 246px, 243px, './img/sprite.png', 'rede-youtube-branco', );
$rede-youtube-topo-name: 'rede-youtube-topo';
$rede-youtube-topo-x: 140px;
$rede-youtube-topo-y: 110px;
$rede-youtube-topo-offset-x: -140px;
$rede-youtube-topo-offset-y: -110px;
$rede-youtube-topo-width: 32px;
$rede-youtube-topo-height: 28px;
$rede-youtube-topo-total-width: 246px;
$rede-youtube-topo-total-height: 243px;
$rede-youtube-topo-image: './img/sprite.png';
$rede-youtube-topo: (140px, 110px, -140px, -110px, 32px, 28px, 246px, 243px, './img/sprite.png', 'rede-youtube-topo', );
$rede-youtube-name: 'rede-youtube';
$rede-youtube-x: 0px;
$rede-youtube-y: 110px;
$rede-youtube-offset-x: 0px;
$rede-youtube-offset-y: -110px;
$rede-youtube-width: 35px;
$rede-youtube-height: 35px;
$rede-youtube-total-width: 246px;
$rede-youtube-total-height: 243px;
$rede-youtube-image: './img/sprite.png';
$rede-youtube: (0px, 110px, 0px, -110px, 35px, 35px, 246px, 243px, './img/sprite.png', 'rede-youtube', );
$twitter-ic-name: 'twitter-ic';
$twitter-ic-x: 203px;
$twitter-ic-y: 58px;
$twitter-ic-offset-x: -203px;
$twitter-ic-offset-y: -58px;
$twitter-ic-width: 29px;
$twitter-ic-height: 29px;
$twitter-ic-total-width: 246px;
$twitter-ic-total-height: 243px;
$twitter-ic-image: './img/sprite.png';
$twitter-ic: (203px, 58px, -203px, -58px, 29px, 29px, 246px, 243px, './img/sprite.png', 'twitter-ic', );
$vlibras-escuro-name: 'vlibras-escuro';
$vlibras-escuro-x: 232px;
$vlibras-escuro-y: 69px;
$vlibras-escuro-offset-x: -232px;
$vlibras-escuro-offset-y: -69px;
$vlibras-escuro-width: 13px;
$vlibras-escuro-height: 14px;
$vlibras-escuro-total-width: 246px;
$vlibras-escuro-total-height: 243px;
$vlibras-escuro-image: './img/sprite.png';
$vlibras-escuro: (232px, 69px, -232px, -69px, 13px, 14px, 246px, 243px, './img/sprite.png', 'vlibras-escuro', );
$vlibras-name: 'vlibras';
$vlibras-x: 232px;
$vlibras-y: 83px;
$vlibras-offset-x: -232px;
$vlibras-offset-y: -83px;
$vlibras-width: 13px;
$vlibras-height: 14px;
$vlibras-total-width: 246px;
$vlibras-total-height: 243px;
$vlibras-image: './img/sprite.png';
$vlibras: (232px, 83px, -232px, -83px, 13px, 14px, 246px, 243px, './img/sprite.png', 'vlibras', );
$spritesheet-width: 246px;
$spritesheet-height: 243px;
$spritesheet-image: './img/sprite.png';
$spritesheet-sprites: ($agenda-location, $agenda-timestamp, $ai, $botao-busca-black, $botao-busca, $botao-com-icone, $busca-escuro, $busca, $casinha-branca, $casinha, $contraste-escuro, $contraste, $gg, $ico-audio, $ico-filtrar-fechado, $ico-filtrar, $icon-horarios, $image-download, $image-zoom, $nav-claro, $nav-escuro, $nav, $rede-facebook-branco, $rede-facebook-topo, $rede-facebook, $rede-flickr-branco, $rede-flickr-topo, $rede-flickr, $rede-googleplus-branco, $rede-googleplus-topo, $rede-googleplus, $rede-instagram-branco, $rede-instagram-topo, $rede-instagram, $rede-linkedin, $rede-rss-branco, $rede-rss-topo, $rede-rss, $rede-slideshare-branco, $rede-slideshare-topo, $rede-slideshare, $rede-soundcloud-branco, $rede-soundcloud-topo, $rede-soundcloud, $rede-tumblr-branco, $rede-tumblr-topo, $rede-tumblr, $rede-twitter-branco, $rede-twitter-topo, $rede-twitter, $rede-youtube-branco, $rede-youtube-topo, $rede-youtube, $twitter-ic, $vlibras-escuro, $vlibras, );
$spritesheet: (246px, 243px, './img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
